.map_container {
<<<<<<< HEAD
	width: 600px;
	height: 400px;
}
=======
	width: 100%;
	height: 400px;
}

.charact-window {
	min-height:300px;
}

.fieldlist {
	margin: 0 0 2em;
	padding: 0;
}

.fieldlist li {
	list-style: none;
	padding-bottom: 1em;
}

.placemark_layout_container { 
	position: relative;
	font-family: Georgia;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

/* Polygon mark */
.polygon_layout {
    position: relative;
    background: #ffffff;
    border: 4px solid #ff6600;
    width: 50px; 
    height: 50px;
    position: absolute;
    left: -28px;
    top: -76px;
    color: #000;
    border-radius: 50%;
}

.polygon_layout:after, .polygon_layout:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.polygon_layout:after {
    border-top-color: #ff6600;
    border-width: 10px;
    margin-left: -10px;
}

.polygon_layout:before {
    border-top-color: #ff6600;
    border-width: 16px;
    margin-left: -16px;
}

.inner_chart {
	border: 14px #0FFF2B solid;
	border-radius: 50%;
	width: 36%;
	height: 36%;
	position: relative;
	top: 2px;
	left: 2px;
}
/* Polygon mark end*/
>>>>>>> 96ecd1660fc9e1bd8a29814e8a8d7303ab82519f
